<h1>Editing Character</h1>

<%= render 'form', character: @character %>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Show', @character %></button> |
<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', characters_path %></button>
